---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Time from '../components/Time.astro';

export interface Props {
    content: {
        title: string;
        description: string;
        pubDate?: string;
        updatedDate?: string;
        heroImage?: string;
        heroDescription?: string;
    };
}

const {
    content: { title, description, pubDate, updatedDate, heroImage, heroDescription },
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <BaseHead title={title} description={description} />
    </head>

    <body>
        <Header />
        <main class="pt-2 pb-2 min-h-[78vh] bg-base-200">
            <article class="prose prose-hr:mt-4 prose-hr:mb-4 mx-auto bg-base-100 pb-4">
                {
                    heroImage && (
                        <img
                            height={360}
                            class="w-full"
                            src={heroImage}
                            alt={heroDescription ?? ''}
                        />
                    )
                }
                <div class="pl-6 pr-6">
                    <h1>{title}</h1>

                    {pubDate && <Time datetime={pubDate} class="font-mono" />}

                    {
                        updatedDate && (
                            <div>
                                Last updated on <Time datetime={updatedDate} />
                            </div>
                        )
                    }
                    <hr />
                    <slot />
                </div>
            </article>
        </main>
        <Footer />
    </body>
</html>
